<?xml version="1.0" encoding="UTF-8"?>  
<!-- 查找最新的schemaLocation 访问 http://www.springframework.org/schema/ -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<!--&lt;!&ndash; 启用MVC注解 &ndash;&gt;-->
	<!--<mvc:annotation-driven />-->

	<!--&lt;!&ndash; 静态资源文件，不会被Spring MVC拦截 &ndash;&gt;-->
	<!--<mvc:resources location="/resources/" mapping="/resources/**"/>-->

	<!--&lt;!&ndash; 指定Sping组件扫描的基本包路径 &ndash;&gt;-->
	<!--<context:component-scan base-package="osc.git.eh3.springamq" >-->
	<!--	&lt;!&ndash; 这里只扫描Controller，不可重复加载Service &ndash;&gt;-->
	<!--	<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
	<!--</context:component-scan>-->

	<!--&lt;!&ndash; JSP视图解析器&ndash;&gt;-->
	<!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  -->
	<!--    <property name="prefix" value="/WEB-INF/views/" />  -->
	<!--    <property name="suffix" value=".jsp" />-->
	<!--&lt;!&ndash;  定义其解析视图的order顺序为1 &ndash;&gt;-->
	<!--    <property name="order" value="1" />-->
	<!--</bean>-->

</beans>  